<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminpage">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="/images/mystyle.css">-->
</head>
<body>
<div layout:fragment="content1" >
<!--    <img src="../static/images/backimage.jpg" th:src="@{/images/backimage.jpg}" height="200px" width="200px"/>-->
    <p>hello how are you</p>
</div>

</body>
</html>