<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="adminpage">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content1">
    <div class="container" style="width:60%;margin-top: 50px">

        <form class="row g-3" method="post" th:action="@{/Admin/Medecin/Create(page=${currentpage},chercher=${chercher})}">

            <input type="hidden" name="id" th:value="${med.id}">
            <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" th:value="${med.email}" name="email" id="inputEmail">
            </div>
            <div class="col-md-6">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" name="nom" th:value="${med.nom}" class="form-control" id="nom">
            </div>
            <div class="col-12">
                <label for="spec" class="form-label">Specialite</label>
                <input type="text" name="specialite" th:value="${med.specialite}" class="form-control" id="spec">
            </div>
            <div class="d-grid gap-2  col-6 mx-auto">
                <button class="btn btn-outline-primary" type="submit">Create</button>
            </div>
        </form>

    </div>
</div>

</body>
</html>